<h3> Please Add A New Merchant</h3>

<form action="/merchants" method="post">

<label for="merchant">Name of Merchant:</label>
<input type="text" name="name"><br>

<input type="submit" value ="Click to submit new merchant">
</form>

<br>
<br>
<a href="/merchants">Back</a>