<!DOCTYPE html>
<html>
<head>
  <title>Bank Account Details</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <nav>
      <ul>

        <li><a href="/transactions/new">Enter New Transaction</a></li>
        <li><a href ="/categories">
        Categories List</a></li>
        <li><a href ="/merchants"> Merchants List </a></li>
        <li><a href="/transactions">Transaction History </a></li>
        

      </ul>
  </nav>
  <main>
    <%= yield %>
  </main>
  
</body>
</html>