<h2> Please Add A New Category</h2>

<form action="/categories" method="post">

  <label for="category">Category Type:</label>
  <input type="text" name="type"><br> 
  <!-- the name is type because that is what the instance variable is in the rb file! -->

  <input type="submit" value ="Click to submit new category">
  </form>

  <br>
  <br>
  <a href="/categories">Back</a>

  