<div> 
<% @categorys.each do |category| %>
<a href="/categorys/<%= category.id %>"><%= category.type %></a><br><hr>
<% end %>

<a href="categorys/new"> Create a new category?</a><br>

<a href="/">Home</a>

</div>