<h2> Add a category</h2>

<form action="/categorys" method="post">

  <label for="category">Category:</label>
  <input type="text" name="category"><br>

  <input type='submit' value ="Add new category">
  </form>

  <br>
  <br>
  <a href="/">Back</a>

  