<div>
  <h2> You are now viewing your selected bill </h2>
  
  
  <!-- Want to show all the the transactions of the category clicked -->
    <h3> Transactions Below:</h3>


    <% @category.transactions.each do |transaction| %>
      <a href="/transactions/<%= transaction.id%>">Click for more details</a>
      <%= transaction.cost %> 
    <% end  %> 
  
<!-- need to insert a total cost here for only each item by its id  -->

<h4>Total Cost: <%= @total %></h4>
</div>