<h2>Your Transaction Is Being Processed Please Wait...</h2>



<p>Confirmation Receipt: </p>
<%= @transaction.category.type %>  

<br>

<%= @transaction.merchant.name %> 

<br>

<%= @transaction.cost %> 