<div>
  <% @transactions.each do |transaction| %>
  <em> <b>Category: </b> </em> <%= transaction.category.type  %> <em> <b>Merchant:</b></em> <%= transaction.merchant.name %> <em> <b>Bill: </b></em> <%= '%.2f' % (transaction.cost)  %><br><hr>
  <% end %>

  <!-- need to insert an overall cost method here -->
  <!-- we can use the @total as it has the .total_cost method -->
  
  <em>Total Amount Spent:<b> <%= '%.2f' % (@total.to_f) %>
  <br>
  
</b></em>
  <a href="/">Home</a>
  </div>
 