<h2>Please Enter Your Transaction: </h2>
<form action="/transactions" method = "post" >
<label for="category"> Category Type:</label>

<select name="category_id" id="category">
  <% @categorys.each do |category| %>
  <option value="<%= category.id %>"> <%= category.type %></option>
    <% end %>
</select>

<br>

  
  <label for ="merchant">Merchant Name:</label>
  <select name ="merchant_id" id="merchant">
  <% @merchants.each do |merchant| %>
    <option value ="<%= merchant.id %>"> <%= merchant.name %></option>
    <% end %>
  </select>

  <br>

  <label for="transaction">Total Amount:</label>
  <input type="text" name="transaction"><br>





  <input type ="submit" value="Submit New Transaction">
  </form>
